
<!-- Main jumbotron for a primary marketing message or call to action -->
<body bgcolor = "#535859" >
    <div class="jumbotron " style="background-color:#95989e">
      <div class="container">
        <h1 class="display-3">Christopher Sherman </h1>
        <p> Software Engineering student </p>
        <%= link_to "resume", '/documents/resume.pdf', class:"btn btn-primary btn-lg"%>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Education</h2>
          <pre>
Computer Science Senior at Texas A&M 
pursuing double minor in 
Math and Business
          </pre>   
        </div>
         <div class="col-md-4">
          <h2>Skills</h2>
          <pre>
Java 
C++ 
Python 
Ruby on Rails 
Jenkins </pre>
        </div>
        <div class="col-md-4">
          <h2>Interests</h2>
          <pre>
Competitive Programming 
weightlifting 
yoga 
kickboxing 
hiking
          </pre>   
        </div>
      </div>

      <footer>
      
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>