
<!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="jumbotron " style="background-color:#95989e">
      <div class="container">
        <h1 class="display-3">Computers and New Media </h1>
        <p>This is a landing page for computers and new media class, and will be used in the future to store links and documents for the project. This site is run on Ruby on Rails.</p>
        <p><a class="btn btn-primary btn-lg" href="root" role="button">Home»</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Why this class</h2>
          <p>I am taking computers and new media this year because I think this is an incredibly important class to take considering our current political and social climate, new media is extremely prevelant in every day life, and understanding the differences between old and new media is quintessential in being able to scrape and understand new information. </p>   
        </div>
         <div class="col-md-4">
          <h2>About Me </h2>
          <p>My name is Christopher Sherman, I am a computer science Senior here at Texas A&M.</p>
        </div>
      </div>

      <hr>


<!-- Footer -->
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  